{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="about">
<h2>See Click Mural</h2>

<p>This site is a mashup showing locations of <a href="http://seeclickfix.com" target="_blank">SeeClickFix</a> graffiti reports along side locations of murals from the <a href="http://muralarts.org" target="_blank">City of Philadelphia Mural Arts Program</a>.</p>
<p>This mashup was built in the back row of the <a href="http://summit.codeforamerica.org/" target="_blank">2011 CfA Summit</a> :)</p>


</div>
{% endblock %}
