<div class="topbar">
  <div class="fill">
    <div class="container">

      <a href="/" class="brand">SeeClickMural</a>

      <ul class="secondary-nav">
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
            <span class='graf'>SeeClickFix Graffiti Reports</span>
        </li>
        <li>
            <span class='mural'>Mural Arts Program Mural</span>
        </li>
        <li>
          <a href="https://github.com/mertonium/SeeClickMural">Fork Me</a>
        </li>
      </ul>

    </div>
  </div>
</div>
